{% extends "index.html" %} {% block content %}
<div class="row w-50">
    {% include "categories.html" %}
    <div class="col bg-light">
        {% if user %}
        <div class="row justify-content-start ml-3">
            <a class="d-inline mr-3" href={{ url_for( 'newProduct') }}>
                <span style="font-size: 1.5em;" class="text-primary">
                    <i class="fas fa-plus"></i>
                </span>
            </a>
        </div>
        {% endif %} {% for product in products %}
        <div class="col m-1 p-1 align-items-start">
            <a class="text-info font-weight-bold" href={{ url_for( "getProduct",product_id=product.id,user=user) }}>{{product.title}}</a>
            {% if user %}
            <div class="row justify-content-start">
                <a class="d-inline mx-3" href={{ url_for( "editProduct",product_id=product.id) }}>
                    <span style="font-size: 1em;" class="text-warning">
                        <i class="fas fa-edit"></i>
                    </span>
                </a>
                <a class="d-inline mx-3" href={{ url_for( "deleteProduct",product_id=product.id) }}>
                    <span style="font-size: 1em;" class="text-danger">
                        <i class="fas fa-trash"></i>
                    </span>
                </a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}