{% extends "index.html" %} {% block content %}
<div class="col banner w-15">
    <h1>Delete Product</h1>
</div>
<div class="col-md-6 col-md-offset-1 padding-top">
    <form action="#" method="post">
        <div class="form-group">
            <label for="title">Title:</label>
            <p class="form-control">{{product.title}}</p>
            <label for="description">Description:</label>
            <p class="form-control">{{product.description}}</p>
            <div class="padding-bottom"></div>
            <button type="submit" class="btn btn-danger mt-2" id="submit">
                Delete
            </button>
        </div>
    </form>
</div>
{% endblock %}