{% extends "index.html" %} 
{% block content %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.description }}</p>
        {% if user %}
        <a href="#" class="btn btn-primary">Edit</a>
        {% endif %}
        <a class="badge badge-primary" href={{ url_for('getProductsByCategory',category=product.category,user=user) }}>{{ product.category }}</a>
    </div>
</div>
{% endblock %}